
@font-face {
                          font-family: "Apercu-Regular";
                          src: url('../fonts/Apercu-Regular.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "Apercu-Light";
                          src: url('../fonts/Apercu-Light.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "Apercu-Bold";
                          src: url('../fonts/Apercu-Bold.otf') format("opentype");
                        }
                        
.yuracontact1920 {
  width               : 100%;
  min-width           : 1920px;
  height              : 100vh;
  min-height          : 2622px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.yuracontact1920 .footer {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2114px;
  height              : 509px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .footer .footerbackground {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 509px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .footer .logowhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 76px;
  height              : 43px;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 243px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .footer .yuraagency31202 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 63px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 619px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Apercu-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.yuracontact1920 .footer .homeaboutcaserole {
  background-color    : rgba(255,255,255,0.0);
  top                 : 68px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 977px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Apercu-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.yuracontact1920 .footer .twitterlinkedinfac {
  background-color    : rgba(255,255,255,0.0);
  top                 : 68px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1339px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Apercu-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.yuracontact1920 .footer .copyright251yuraage {
  background-color    : rgba(255,255,255,0.0);
  top                 : 435px;
  height              : auto;
  width               : 647px;
  position            : absolute;
  margin              : 0;
  left                : 637px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Apercu-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : -0.19px;
  line-height         : 16.0px;
}
.yuracontact1920 .home {
  background-color    : rgba(255,255,255,0.0);
  top                 : 49px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1194px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Apercu-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 52, 218, 1.0);
  text-align          : right;
  letter-spacing      : -0.19px;
  line-height         : 22.0px;
}
.yuracontact1920 .about {
  background-color    : rgba(255,255,255,0.0);
  top                 : 49px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1273px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Apercu-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 52, 218, 1.0);
  text-align          : right;
  letter-spacing      : -0.19px;
  line-height         : 22.0px;
}
.yuracontact1920 .cases {
  background-color    : rgba(255,255,255,0.0);
  top                 : 49px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1354px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Apercu-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 52, 218, 1.0);
  text-align          : right;
  letter-spacing      : -0.19px;
  line-height         : 22.0px;
}
.yuracontact1920 .contact {
  background-color    : rgba(255,255,255,0.0);
  top                 : 49px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1440px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Apercu-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 52, 218, 1.0);
  text-align          : right;
  letter-spacing      : -0.19px;
  line-height         : 22.0px;
}
.yuracontact1920 .a31202440000 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 49px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1543px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Apercu-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 52, 218, 1.0);
  text-align          : right;
  letter-spacing      : -0.19px;
  line-height         : 22.0px;
}
.yuracontact1920 .fillthisoutsoden {
  background-color    : rgba(255,255,255,0.0);
  top                 : 375px;
  height              : auto;
  width               : 930px;
  position            : absolute;
  margin              : 0;
  left                : 734px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Apercu-Light", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(0, 52, 218, 1.0);
  text-align          : left;
  letter-spacing      : -0.51px;
  line-height         : 56.0px;
}
.yuracontact1920 .yblue {
  background-color    : rgba(255,255,255,0.0);
  top                 : -414px;
  height              : 602px;
  width               : 460px;
  position            : absolute;
  margin              : 0;
  left                : 702px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .yblue .yblue1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 602px;
  width               : 460px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .letschatwithdenn {
  background-color    : rgba(255,255,255,0.0);
  top                 : 384px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 254px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Apercu-Regular", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(0, 52, 218, 1.0);
  text-align          : left;
  letter-spacing      : -0.51px;
  line-height         : 58.0px;
}
.yuracontact1920 .helpcrunch {
  background-color    : rgba(255,255,255,0.0);
  top                 : 916px;
  height              : 60px;
  width               : 184px;
  position            : absolute;
  margin              : 0;
  left                : 1496px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .helpcrunch .rectangle {
  background-color    : rgba(0, 52, 218, 1.0);
  top                 : 0px;
  height              : 60px;
  width               : 60px;
  position            : absolute;
  margin              : 0;
  left                : 124px;
  border-radius       : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .helpcrunch .rectangle1 {
  background-color    : rgba(0, 52, 218, 1.0);
  top                 : 8px;
  height              : 44px;
  width               : 112px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .helpcrunch .triangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 28px;
  height              : 13px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 109px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .helpcrunch .chatwithus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Apercu-Regular", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : right;
  letter-spacing      : -0.16px;
  line-height         : 18.0px;
}
.yuracontact1920 .helpcrunch .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 32px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 138px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .teamcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 538px;
  height              : 446px;
  width               : 328px;
  position            : absolute;
  margin              : 0;
  left                : 256px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .teamcopy .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 446px;
  width               : 328px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .teamcopy .team {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 328px;
  width               : 328px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .teamcopy .davepaulisse {
  background-color    : rgba(255,255,255,0.0);
  top                 : 338px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Apercu-Bold", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 52, 218, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.yuracontact1920 .teamcopy .linkedininstagram {
  background-color    : rgba(255,255,255,0.0);
  top                 : 385px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Apercu-Light", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 52, 218, 1.0);
  text-align          : left;
  line-height         : 22.0px;
  text-decoration     : underline;
}
.yuracontact1920 .teamcopy .fullstackdeveloper {
  background-color    : rgba(255,255,255,0.0);
  top                 : 362px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Apercu-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 52, 218, 1.0);
  text-align          : left;
  line-height         : 21.0px;
}
.yuracontact1920 .himynameisiw {
  background-color    : rgba(255,255,255,0.0);
  top                 : 540px;
  height              : auto;
  width               : 810px;
  position            : absolute;
  margin              : 0;
  left                : 735px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Apercu-Light", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 52, 218, 1.0);
  text-align          : left;
  letter-spacing      : -0.26px;
  line-height         : 53.0px;
}
.yuracontact1920 .namefield {
  background-color    : rgba(255,255,255,0.0);
  top                 : 547px;
  height              : 40px;
  width               : 270px;
  position            : absolute;
  margin              : 0;
  left                : 892px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .namefield .rectangle {
  background-color    : rgba(242, 244, 249, 1.0);
  top                 : 0px;
  height              : 40px;
  width               : 270px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .namefield .fullname {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Apercu-Light", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  letter-spacing      : -0.26px;
  line-height         : 22.0px;
}
.yuracontact1920 .namefieldcopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 706px;
  height              : 40px;
  width               : 270px;
  position            : absolute;
  margin              : 0;
  left                : 957px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .namefieldcopy3 .rectangle {
  background-color    : rgba(242, 244, 249, 1.0);
  top                 : 0px;
  height              : 40px;
  width               : 270px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .namefieldcopy3 .fullname {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Apercu-Light", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  letter-spacing      : -0.26px;
  line-height         : 22.0px;
}
.yuracontact1920 .namefieldcopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 761px;
  height              : 40px;
  width               : 270px;
  position            : absolute;
  margin              : 0;
  left                : 769px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .namefieldcopy4 .rectangle {
  background-color    : rgba(242, 244, 249, 1.0);
  top                 : 0px;
  height              : 40px;
  width               : 270px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .namefieldcopy4 .fullname {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Apercu-Light", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  letter-spacing      : -0.26px;
  line-height         : 22.0px;
}
.yuracontact1920 .namefieldcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 602px;
  height              : 40px;
  width               : 270px;
  position            : absolute;
  margin              : 0;
  left                : 735px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .namefieldcopy .rectangle {
  background-color    : rgba(242, 244, 249, 1.0);
  top                 : 0px;
  height              : 40px;
  width               : 270px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .namefieldcopy .fullname {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Apercu-Light", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  letter-spacing      : -0.26px;
  line-height         : 22.0px;
}
.yuracontact1920 .namefieldcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 653px;
  height              : 40px;
  width               : 270px;
  position            : absolute;
  margin              : 0;
  left                : 918px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .namefieldcopy2 .rectangle {
  background-color    : rgba(242, 244, 249, 1.0);
  top                 : 0px;
  height              : 40px;
  width               : 270px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .namefieldcopy2 .fullname {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Apercu-Light", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  letter-spacing      : -0.26px;
  line-height         : 22.0px;
}
.yuracontact1920 .buttoncopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 897px;
  height              : 51px;
  width               : 287px;
  position            : absolute;
  margin              : 0;
  left                : 735px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .buttoncopy3 .button {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 51px;
  width               : 287px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .buttoncopy3 .button .button1 {
  background-color    : rgba(0, 52, 218, 1.0);
  top                 : 0px;
  height              : 51px;
  width               : 287px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .buttoncopy3 .button .senddennisamessag {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Apercu-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 21.0px;
}
.yuracontact1920 .buttoncopy3 .arrow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 17px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 235px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .buttoncopy3 .arrow .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 12px;
  width               : 12px;
  position            : relative;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(-315deg); /* IE 9 */
  -webkit-transform   : rotate(-315deg); /* Chrome, Safari, Opera */
  transform           : rotate(-315deg);
}
.yuracontact1920 .case {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1171px;
  height              : 761px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 240px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .case .gettyimages554391989 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 114px;
  height              : 647px;
  width               : 1304px;
  position            : absolute;
  margin              : 0;
  left                : 136px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .case .rectanglecopy6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 584px;
  width               : 448px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .case .readmore {
  background-color    : rgba(255,255,255,0.0);
  top                 : 508px;
  height              : 36px;
  width               : 39px;
  position            : absolute;
  margin              : 0;
  left                : 374px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .case .readmore .arrow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 36px;
  width               : 39px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .case .readmore .arrow .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 8px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .case .readmore .arrow .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 26px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(-315deg); /* IE 9 */
  -webkit-transform   : rotate(-315deg); /* Chrome, Safari, Opera */
  transform           : rotate(-315deg);
}
.yuracontact1920 .case .wibautstraat131d10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 82px;
  height              : auto;
  width               : 391px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Apercu-Regular", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : -0.51px;
  line-height         : 58.0px;
}
.yuracontact1920 .case .getdirections {
  background-color    : rgba(255,255,255,0.0);
  top                 : 513px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Apercu-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : -0.26px;
  line-height         : 30.0px;
}
.yuracontact1920 .case .visitus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 36px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Apercu-Bold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : -0.26px;
  line-height         : 22.0px;
}
.yuracontact1920 .yuralogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 43px;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 240px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.yuracontact1920 .yuralogo .logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 43px;
  width               : 120px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}