.back {
    width: 100vw;
    position: absolute;
    z-index: -1;
}

.main {
    padding: 4rem 10%
}

.logo {
    width: 400px
}

.mainForm {
    background-color: white;
    margin-top: 4rem;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0px 10px 15px #737373
}

.formHead {
    font-size: 2rem;
    padding-bottom: 2rem
}

.btn {
    background-color: #00627f !important;
    color: white !important;
    padding: 0.5rem 2rem !important;
    margin-top: 2rem
}

.mainText {
    font-size: 4rem;
    color: white;
    font-weight: bolder;
    margin-top: 12rem;
    margin-left: 2rem
}

.mainSubText {
    font-size: 1.5rem;
    margin-left: 2rem;
    color: white;
    margin-top: 2rem
}

.result {
    margin-left: 2rem;
    color: white;
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: bolder
}