@font-face {
    font-family: "Apercu-Regular";
    src: url('static/fonts/Apercu-Regular.otf') format("opentype");
}

@font-face {
    font-family: "Apercu-Light";
    src: url('static/fonts/Apercu-Light.otf') format("opentype");
}

@font-face {
    font-family: "Apercu-Bold";
    src: url('static/fonts/Apercu-Bold.otf') format("opentype");
}

body {
    margin: 0;
    padding: 0;
    font-family: "Apercu-Regular", Helvetica, Arial, serif;
    overflow-x: hidden
}

.navbar-nav {
    flex-direction: row;
}

.navbar-nav li {
    padding: 1.5rem;
    color: #0133d9
}

.navbar-nav li a {
    color: #0133d9
}

.navbar-brand img {
    width: 170px
}